@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Unica+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Crimson Pro, serif;
    color: #fff;
    width: 100%;
    background: url(/assets/images/pexels-thirdman-6193853.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

/* headings and logo */

h1,
h2 {
    font-family: Unica One, cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #37454D;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 50px;
}

#header-box {
    background-color: #F7F8F6;
    height: 100px;
    width: 100%;
}

/* navigation links */

#menu {
    font-family: Unica One, cursive;
    font-size: 110%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    color: #37454D;
}

#menu a {
    text-decoration: none;
    color: inherit;
    display: block;
}

#menu a:hover {
    transform: scale(1.2);
    color: #B4605D;
}

.active {
    transform: scale(1.2);
}

/* hero image */

#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
}

/* choir biography */

#choir-biography {
    background-color: rgba(208, 141, 57, .8);
    padding: 50px 200px 75px;
}

#choir-biography h2 {
    font-size: 300%;
    font-weight: 200;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    color: #fff;
}

#choir-biography p {
    font-size: 120%;
    text-align: justify;
    line-height: 2em;
    margin-top: 50px;
}

/* gallery */

#photos-outer {
    background-color: rgba(247, 248, 246, .8);
    padding: 80px 200px 30px;
}

#photos {
    clear: both;
    line-height: 100px;
    column-count: 3;
    column-gap: 50px;
}

#photos>img {
    width: 100%;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: #F7F8F6;
    height: 100px;
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    color: #37454D;
    line-height: 100px;
    padding: 0 50px;
}

/* media queries */

/* for larger to medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #choir-biography {
        padding: 50px 150px 75px;
    }

    #photos-outer {
        padding: 80px 150px 30px;
    }
}
