@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Unica+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Crimson Pro, serif;
    color: #fff;
}

#index-background {
    background: url("../images/pexels-thirdman-6193853.jpg") no-repeat right top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

#contact-background {
    background: url("../images/pexels-thirdman-6194031.jpg") no-repeat center bottom;
    background-size: cover;
    height: 1000px;
    text-align: center;
}

/* headings and logo */

h1,
h2 {
    font-family: Unica One, cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #37454D;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 50px;
}

#header-box {
    background-color: #F7F8F6;
    height: 100px;
    width: 100%;
}

/* navigation links */

#menu {
    font-family: Unica One, cursive;
    font-size: 110%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    color: #37454D;
}

#menu a {
    text-decoration: none;
    color: inherit;
    display: block;
}

#menu a:hover {
    transform: scale(1.2);
    color: #B4605D;
}

.active {
    transform: scale(1.2);
    color: #B4605D;
}

/* hero image */

#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
}

/* choir biography */

#choir-biography {
    background-color: rgba(208, 141, 57, .8);
    padding: 50px 200px 75px;
}

#choir-biography h2 {
    font-size: 300%;
    font-weight: 200;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    color: #fff;
    text-shadow: 2px 2px 5px #37454D;
}

#choir-biography p {
    font-size: 120%;
    text-align: justify;
    line-height: 2em;
    margin-top: 50px;
}

/* gallery */

#photos-outer {
    background-color: rgba(247, 248, 246, .8);
    padding: 80px 200px 30px;
}

#photos {
    clear: both;
    line-height: 100px;
    column-count: 3;
    column-gap: 50px;
}

#photos>img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #37454D;
}

/* footer */
footer {
    background-color: #F7F8F6;
    height: 100px;
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    color: #37454D;
    line-height: 100px;
    padding: 0 50px;
}

/* contact form */

.contact-us {
    display: inline-block;
    margin-top: 130px;
    width: 40%;
    padding: 30px;
}

.contact-us h2 {
    color: #fff;
    padding-bottom: 10px;
    font-size: 250%;
}

.contact-us p {
    font-size: 130%;
    padding-bottom: 40px;
    line-height: 30px;
}

.text-input,
.message-input,
.submit {
    background: transparent;
    height: 30px;
    width: 90%;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 10px;
    color: #fff;
    font-family: Crimson Pro, serif;
    font-size: 120%;
}

.radio-input {
    margin-left: 5px;
    margin-right: 20px;
}

.message-input {
    height: 150px;
}

.submit {
    background: #B4605D;
    color: #000;
    border: none;
    width: 100px;
    height: 40px;
}


.text-input:hover,
.message-input:hover,
.submit:hover {
    background: #B4605D;
    color: #000;
}

::placeholder {
    color: grey;
    font-family: Crimson Pro, serif;
}

#events {
    padding: 20px 350px;
}

#events ul li {
    list-style: none;
    height: 150px;
    padding-top: 20px;
    margin-bottom: 20px;
}


.times {
    position: relative;
    width: 30%;
    height: 100%;
    background: rgba(53, 45, 78, .8);
    float: left;
    text-align: center;
}

.times:hover {
    background:  rgba(53, 45, 78, 1);
}

.times h2 {
    color: #000;
    font-size: 500%;
    padding-top: 35px;
    margin: 0;
    line-height: 40px;
}

.times h2:hover {
    color: #fff;
}

.times span {
    font-size: 45%;
    padding: 0;
    margin: 0;
}

.details {
    float: right;
    height: 100%;
    width: 70%;
    background: rgba(222, 67, 69, .8);
}

.details:hover {
    background: rgba(222, 67, 69, 1);
}

.details>h2 {
    color: #000;
    padding: 20px 20px 5px;
    font-weight: 1200;
}

.details>h3 {
    font-weight: 100;
    padding: 5px 20px;
}

/* media queries */

/* for larger to medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #choir-biography {
        padding: 50px 150px 75px;
    }

    #photos-outer {
        padding: 80px 150px 30px;
    }

    .events h2 {
        font-size: 200%;
    }
}

/* for medium screen size from 1000px wide and down */
@media screen and (max-width: 1000px) {
    #menu-bar {
        margin-right: 25px;
    }

    #menu li {
        margin-left: 0;
        margin-right: 25px;
    }
}

/* for medium and small screen size from 925px wide and down */
@media screen and (max-width: 925px) {
    #menu-bar {
        margin-left: 15px;
        margin-right: 0;
    }

    #menu li {
        margin-right: 30px;
    }

    #hero-outer {
        height: 800px;
    }

    #choir-biography {
        padding: 1px 20px 25px;
    }

    #choir-biography h2,
    .contact-us h2 {
        font-size: 190%;
    }

    #choir-biography p,
    .contact-us p {
        font-size: 100%;
        margin-top: 20px;
    }

    #photos-outer {
        padding: 40px 20px 20px;
    }

    #photos {
        column-count: 2;
        column-gap: 20px;
        line-height: 60px;
    }

    .social-networks i {
        padding: 0 30px;
    }

    .text-input,
    .message-input,
    .submit {
        font-size: 100%;
    }

    .contact-us {
        width: 80%;
    }
}

/* for small screen size from 725px wide and down */
@media screen and (max-width: 725px) {
    #logo {
        font-size: 180%;
        line-height: 50px;
        margin: 10px 10px 5px;
    }

    #menu {
        font-size: 90%;
        line-height: 20px;
        float: left;
        clear: left;
    }
}

/* for small screen size from 350px wide and down */
@media screen and (max-width: 350px) {
    #logo {
        font-size: 120%;
    }

    #menu {
        font-size: 80%;
    }

    #menu li {
        margin-right: 10px;
    }

    #choir-biography p {
        font-size: 90%;
    }

    #photos {
        column-count: 1;
        column-gap: 20px;
        line-height: 60px;
    }

    .social-networks i {
        padding: 0 15px;
    }
}